<form>
    <div>
        <h1 >Verify your Phone with CEMEX Hoteling DEV</h1>
    </div>
    <div>
        <label for="employeeNumber">Employee Number</label>
        <input type="text" name="employeeNumber" [(ngModel)]="employeeNumber" required placeholder="Enter your Employee Number">
    </div>
    <div>
        <label for="verificationCode">Verification Code</label>
        <input type="text" name="verificationCode" [(ngModel)]="verificationCode" required placeholder="Enter your Verification Code">
    </div>

    <div>
        <br />
        <button (click)="verify()" class="btn btn-primary btn-block" type="button"> Verify </button>
    </div>
</form>
<p class="text-dark mb-0">Already a member?<a href="/login" class="text-primary ml-1">Login</a></p>