
<div>
    <button (click)="loginWithFederatedCognito()" class="btn btn-primary btn-block" type="button"> Log In with Work Mail </button>
</div>

<form>
    <div>
        <label for="username">Employe Number</label>
        <input type="username" name="username" [(ngModel)]="username" required placeholder="Enter your Employee Number">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="password" required id="password"
            placeholder="Enter your password">
    </div>

    <div>
        <br />
        <button (click)="loginWithCognito()" class="btn btn-primary btn-block" type="button"> Log In </button>
    </div>
</form>
<p class="text-dark mb-0">Not a member?<a href="/sign-up" class="text-primary ml-1">Sign Up now</a></p>