<p>You have successfully logged-in.</p>
<br/>
<br/>

<div>
    <button (click)="userInfo()" class="btn btn-primary btn-block" type="button"> User Information </button>
</div>

<br/>
<br/>

<div>
    <button (click)="userSession()" class="btn btn-primary btn-block" type="button"> User Session </button>
</div>

<br/>
<br/>

<div>
    <button (click)="userAuthUser()" class="btn btn-primary btn-block" type="button"> User Authenticated </button>
</div>


<br/>
<br/>

<div>
    <button (click)="userLogoutUser()" class="btn btn-primary btn-block" type="button"> User Logout </button>
</div>